/*
.hexagon {
  fill: white;
  pointer-events: all;
}
*/

body {
    margin: 0px;
}

#form_div {
    margin-left: 8px;
    margin-right: 8px;
}

.target.present {
    fill: #00CDCD;
    opacity: 1;
    z-index: 1;
}

.target {
    fill: #EEE;
    opacity: 0.4;
    stroke: #DDD;
    z-index: -1;
}

.mouseline {
    stroke: #00CDCD;
}

p, input {
    font-family: Helvetica, Arial, sans-serif !important; 
}

/*
.hexagon path {
  -webkit-transition: fill 250ms linear;
  transition: fill 250ms linear;
}

.hexagon :hover {
  fill: pink;
}

.hexagon .fill {
  fill: red;
}

.mesh {
  fill: none;
  stroke: #000;
  stroke-opacity: .2;
  pointer-events: none;
}

.border {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
  pointer-events: none;
}
*/
