
@font-face {
	  font-family: 'HelveticaLight';
	  src: url('/fonts/Helvetica-Light.ttf'); /* IE9 Compat Modes */
	  src: url('/fonts/Helvetica-Light.ttf')  format('truetype');
	}
@font-face {
	  font-family: 'Helvetica';
	  src: url('/fonts/Helvetica.ttf'); /* IE9 Compat Modes */
	  src: url('/fonts/Helvetica.ttf')  format('truetype');
	}
button{
    width: 200px;
    height: 80px;
    background: #3498db;
    color: white;
    font-size: 22px;
}